body {
    margin: 0;
    font-family: 'Noto Serif', serif;
    background: #fff;
    color: #111;
}
/* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-size: 14px;
}

.search-wrapper {
    width: 450px; 
    height: 35px;
    background: #f5f5f5;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #f5f5f5;
}

.search-wrapper input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 10px;
    font-family: 'Noto Serif', serif;
    padding-left: 10px;
}

.search-wrapper .search-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.search-wrapper .search-btn img {
    width: 22px;
    height: 22px;
}


.logo img {
    height: 50px; 
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
    font-family:Noto Serif;
}

.navbar a {
    color: #000;
    text-decoration: none;
}


/* CART PAGE */
.cart-page {
    width: 85%;
    margin: 40px auto;
}

.back {
    font-size: 14px;
    color: #555;
    text-decoration: none;
}

h1 {
    margin: 40px 0 30px;
    font-weight: 500;
}

.cart-content {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.cart-left {
    flex: 2;
}

.cart-right {
    flex: 1;
    border-left: 1px solid #ddd;
    padding-left: 40px;
}

.empty {
    color: #777;
    margin-bottom: 40px;
}

.cart-right h2 {
    margin-bottom: 30px;
    font-weight: 500;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    font-size: 14px;
}

.total {
    font-weight: 600;
    margin-top: 20px;
}

.checkout {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: Noto Serif;
}

.continue {
    display: block;
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #000000;
    text-decoration: none;
    font-family: Noto Serif;
}

.continue:hover {
    text-decoration: underline;
}
@media screen and (max-width: 992px) {
  .cart-content {
    flex-direction: column;
    gap: 40px;
  }

  .cart-right {
    border-left: none;
    padding-left: 0;
    border-top: 1px solid #ddd;
    padding-top: 30px;
  }
}
@media screen and (max-width: 600px) {
  .cart-page {
    width: 95%;
  }

  h1 {
    font-size: 22px;
  }

  .row {
    font-size: 13px;
  }

  .checkout {
    font-size: 14px;
  }
}

