body {
    margin: 0;
    font-family: "Noto Serif", serif;
    background: #f7f7f7;
}

.wrapper {
    width: 100%;
    max-width: 1100px;
    margin: 40px auto;
    display: flex;
    background: white;
    border-radius: 15px;
    overflow: hidden;
}

.left {
    width: 55%;
    padding: 40px 60px;
}

.top-text {
    text-align: right;
    font-size: 14px;
}

.top-text a {
    text-decoration: none;
}

h1 {
    margin-top: 20px;
    font-size: 28px;
}

form input {
    width: 100%;
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.terms {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    margin: 15px 0 25px 0;
    line-height: 1.3;
    white-space: nowrap;
}

.terms input[type="checkbox"] {
    width: 18px;
    height: 18px;
}


button {
    width: 100%;
    padding: 12px;
    border: none;
    background: rgb(83, 70, 58);
    color: white;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    font-family: Noto Serif;
}

.divider {
    text-align: center;
    margin: 25px 0;
    font-size: 14px;
    color: #888;
}

.socials {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    font-family: Noto Serif;
}

.socials button {
    flex: 1;
    padding: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}

.apple {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Noto Serif;

}

.facebook {
    background: rgb(61, 61, 118);
    color: #ffffff;
    font-family: Noto Serif;
}

.right {
    width: 45%;
    position: relative;
    background: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-img {
    width: 70%;
    margin: 0 auto;
    display: block;
}


