body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-size: 14px;
}

.search-wrapper {
    width: 450px; 
    height: 35px;
    background: #f5f5f5;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #f5f5f5;
}

.search-wrapper input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 10px;
    font-family: 'Noto Serif', serif;
    padding-left: 10px;
}

.search-wrapper .search-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.search-wrapper .search-btn img {
    width: 22px;
    height: 22px;
}


.logo img {
    height: 50px; 
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
    font-family:Noto Serif;
}

.navbar a {
    color: #000;
    text-decoration: none;
}