body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-size: 14px;
}

.search-wrapper {
    width: 450px; 
    height: 35px;
    background: #f5f5f5;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #f5f5f5;
}

.search-wrapper input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 10px;
    font-family: 'Noto Serif', serif;
    padding-left: 10px;
}

.search-wrapper .search-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.search-wrapper .search-btn img {
    width: 22px;
    height: 22px;
}


.logo img {
    height: 50px; 
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
    font-family:Noto Serif;
}

.navbar a {
    color: #000;
    text-decoration: none;
}


/* ICON CATEGORY ROW */
.categories {
    position:relative;
    text-decoration: none;
    color: #000;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px 0;
    font-family: 'Noto Serif', serif;
    cursor: pointer;
    font-size: 15px;
}
.categories div {
    border-bottom: 2px solid transparent; 
}

.categories div:hover {
    border-bottom: 2px solid #000; 
}


/* HERO SECTION */
.hero {
    background: url(hero.img.png) center/cover;
    color: white;
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Elegant Sans;
}

.hero button {
    margin-top: 20px;
    padding: 10px 25px;
    background:#f5eddc;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Noto Serif', serif;
    color:#2c241e
}

/* POPULAR PRODUCTS*/
.products .title{
    margin-top: 100px;
    font-size: 25px;
    font-family: 'Noto Serif', serif;
    margin-bottom: 15px;
    text-align: center;
    color: black;
    letter-spacing: 5px;
}

.products .view{
    text-align: center;
    margin-bottom: 15px;
    font-size: 16px;
    color: #777777;
    font-family: 'Noto Serif', serif;
    text-decoration: underline;
    cursor: pointer;
}

.products .grid {
    display: flex;
    justify-content: center;
    gap: 60px;          
    flex-wrap: wrap;
}

.products .item {
    text-align: center;
}

.products .item img {
    width: 150px;       
    height: 150px;
    object-fit: contain;   
    display: block;
    margin: 0 auto;
}

.products .item p {
    margin-top: 12px;
    font-size: 18px;
    font-family: 'Noto Serif', serif;
}

.grid img {
    width: 100%;
}

/* SLIDER SECTION */
.slider-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.products .grid {
  flex-wrap: nowrap;  
  overflow: hidden;
  width: 1000px;
  scroll-behavior: smooth;
}

.arrow {
  font-size: 22px;
  background: #eee;
  border: none;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
}



/* BANNER SECTION */
.our-banner {
    margin-top: 100px;
    background-color: #3e312a;
    padding: 60px 0;
    width: 100%;
}

.banner-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.banner-content .title{
    letter-spacing: 5px;
    font-size: 28px;
    margin-bottom: 50px;
    font-family: "Noto Serif", serif;
}

.collection-grid {
    display: flex;
    justify-content:center;
    gap: 0px;
}

.collection-card {
    width: 23%;
}

.collection-card img {
    height: 200px;
    width: 250px;
    margin-bottom: 15px;
}

.collection-card h4 {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    opacity: 0.8;
    font-family: "Noto Serif", serif;
}

.collection-card p {
    font-size: 18px;
    font-family: "Noto Serif", serif;
    margin-top: 5px;
}


/*BROWSE SECTION*/
h1 {
  font-size: 28px;
  text-align: center;
  margin-top: 100px;
  letter-spacing: 5px;
  font-weight: normal;
  font-family: 'Noto Serif', serif;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 125px;
  padding: 15px 0;
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #eee;
  font-size: 12px;
  font-family: 'Noto Serif', serif;
  cursor: pointer;
}

.tab.active {
  color: #a1786c;
  border-bottom: 3px solid #a1786c;
  padding-bottom: 5px;
  
}

.container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 20px;
}

.grid {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 25px;
}

.grid-item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: 'Noto Serif', serif;
  cursor: pointer;
}

.avatar-wrap {
    margin-left: 30px;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid #eee;
}

.avatar-wrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.label {
   margin-left: 10px;
  font-size: 15px;
}


/* FOOTER SECTION */
footer {
    margin-bottom: 100px;
    background: #ffffff;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.top-icons {
    margin-top: 200px;
    background: #231d1a;
    padding: 40px 0;
    display: flex;
    justify-content: center;
    gap: 100px;
    text-align: center;
    font-family: Noto Serif;
}

.icon-box img {
    width: 23px;
    margin-bottom: 10px;
}

.icon-box h4 {
    font-size: 13px;
    margin: 5px 0;
}

.icon-box p {
    font-size: 12px;
}
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
}
.footer-left .title {
    margin-top: 60px;
    font-size: 28px;
    margin-bottom: 20px;
    color: #000000;
    font-family: Noto Serif;
}

.footer-left p {
    color: black;
    margin-bottom: 25px;
    line-height: 1.5;
    font-family: Noto Serif;
}

.email-box {
    display: flex;
    border-bottom: 1px solid #555;
    width: 230px;
}

.email-box input {
    font-family: Noto Serif;
    flex: 1;
    padding: 8px;
    background: transparent;
    border: none;
    outline: none;
    color: #000000;
}

.email-box button {
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
    font-size: 18px;
}

.footer-help h3,
.footer-explore h3,
.footer-trust h3{
    margin-top: 60px;
    margin-bottom: 15px;
    font-size: 15px;
    color: #000000;
    font-family: Noto Serif;
}

.footer-help a,
.footer-explore a,
.footer-trust a {
    margin-right: 70px;
    display: block;
    color: #000000;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
    font-family: Noto Serif;
}

.footer-help a:hover,
.footer-explore a:hover,
.footer-trust a:hover {
    text-decoration: underline;
}