body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff;
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    font-size: 14px;
}

.search-wrapper {
    width: 450px; 
    height: 35px;
    background: #f5f5f5;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border: 1px solid #f5f5f5;
}

.search-wrapper input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 10px;
    font-family: 'Noto Serif', serif;
    padding-left: 10px;
}

.search-wrapper .search-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
}

.search-wrapper .search-btn img {
    width: 22px;
    height: 22px;
}


.logo img {
    height: 50px; 
}

.navbar ul {
    display: flex;
    gap: 25px;
    list-style: none;
    font-family:Noto Serif;
}

.navbar a {
    color: #000;
    text-decoration: none;
}
/* ICON CATEGORY ROW */
.categories {
    position:relative;
    text-decoration: none;
    color: #000;
    padding-bottom: 3px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px 0;
    font-family: 'Noto Serif', serif;
    cursor: pointer;
    font-size: 15px;
}
.categories div {
    border-bottom: 2px solid transparent; 
}

.categories div:hover {
    border-bottom: 2px solid #000; 
}


/* HERO SECTION */
.hero {
    background: url(hero.img.png) center/cover;
    color: white;
    padding: 80px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Elegant Sans;
}

.hero button {
    margin-top: 20px;
    padding: 10px 25px;
    background:#f5eddc;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    font-family: 'Noto Serif', serif;
    color:#2c241e
}